.about-container {
    margin-top: 20px;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    background-color: #DA291C;
    justify-content: center;
    height: 350px;
    gap: 0px 20px;
    .left-side {
        h1 {
            color: #FFF;
            font-family: Oswald;
            font-size: 20px;
            font-weight: 700;
        }
        
    }
    .hr-straight {
        width: 2px;
        height: 310px;
        border: solid 2px #fff;
    }
    .right-side {
        display: flex;
        flex-direction: column;
        .img-about-us {
            width: 140px;
            height: 100px;
        }
        .text-about-us {
            color: #FFF;
            font-family: Lato;
            width: 200px;
            font-size: 12px;
            font-weight: 700;
        }
    }
}
@media screen and (min-width: 600px) and (max-width: 992px){
    .about-container {
        margin-top: 15px;
        padding: 15px 20px;
        height: 360px;
        gap: 0px 20px;
        .left-side {
            h1 {
                font-size: 40px;
            } 
        }
        .hr-straight {
            width: 1.5px;
            height: 330px;
            border: solid 1.5px #fff;
        }
        .right-side {
            .img-about-us {
                width: 250px;
                height: 120px;
            }
            .text-about-us {
                width: 290px;
                font-size: 15px;
            }
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1600px){
    .about-container {
        margin-top: 15px;
        padding: 20px 20px;
        height: 360px;
        gap: 0px 30px;
        height: 620px;
        .left-side {
            h1 {
                font-size: 50px;
            } 
        }
        .hr-straight {
            width: 3px;
            height: 580px;
            border: solid 3px #fff;
        }
        .right-side {
            .img-about-us {
                width: 300px;
                height: 200px;
            }
            .text-about-us {
                width: 450px;
                font-size: 25px;
            }
        }
    }
    
}