@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .most-recent {
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        font-weight: bold;
        margin: 20px 0px;
    }
    .block-of-card{
        display: flex;
        flex-direction: row;
        gap: 0px 15px;
        .item-left {
            display: flex;
            justify-content: center;
            .card-pf-img {
                width: 180px;
                height: 120px;
            }
        }
        .hr-row {
            width: 1px;
            height: 120px;
            border: solid 1px #000;
        }
        .item-right {
            display: flex;
            flex-direction: column;
            .card-title {
                font-size: 15px;
                font-weight: bold;
                font-family: 'Oswald', sans-serif;
                margin: 0px 0px;
            }
            .card-text {
                font-size: 10px;
                font-family: 'Lato', sans-serif;
                width: 180px;
                margin: 10px 0px 0px 0px;
            }
            .watch-now {
                font-size: 10px;
                color: #DA291C;
                font-family: "Oswald", sans-serif;
                font-size: 13px;
                display: flex;
                justify-content: start;
                font-weight: bold;
                margin: 0px -5px;
                margin-top: 20px;
                background: none;
                border: none;
            }
        }
    }
}