
.fb-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    *{
        margin: 0;
        padding: 0;
        font-family: Lato;
    }
    
}
.fb-aboutus-container1
{
    color: #ffff;
    background-color: #DA291C;
    padding: 1em;
    margin-top: 2em;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: row;
    .fb-article
    {
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        width: 60%;
        h6{
            font-weight: bold;
            font-size: 20px;
        }
        p{
            padding: 1em 1em 1em 0;
            text-align: justify; /* Justify the text */
            text-align-last: justify;
            font-size: 15px;
        }
    }
    .fb-break-line
    {
        border: 1px solid white;
    }
    .fb-break-line1
    {
        border: 1px solid white;
    }
    .fb-contact
    {
        display: flex;
        flex-direction: column;
        padding: 1em;
        width: 35%;
        .fb-contact-icon{
            display: flex;
            flex-direction: row;
            column-gap: 1em;
            img{
                width: 25px;
                height: 25px;
                padding-top: 1em;
                cursor: pointer
            }
        }
        h6{
            font-weight: bold;
            font-size: 20px;
        }
        p{
            padding-top: 1em;
            font-size: 15x;
        }
    }

}

.fb-feedback-container1
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    margin-top: 2em;
    background-color: #DA291C;
}
.fb-container-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.fb-input{
    height: 2em;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid black
}
.fb-input:nth-child(1) {
    width: 13vw;
}
.fb-input::placeholder{
    font-size: 10px;
}
.fb-textarea{
    width: 85%;
    height: 10em;
    padding: 5px 10px;
    border-radius: 5px;
}
.fb-button{
    border-radius: 30px;
    background-color: #007bff;
    border: #DA291C solid 1px;
    padding: 10px 75px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}
.fb-button:hover {
    background-color: #0371e7;
}
@media screen and (max-width: 500px) {
    .fb-aboutus-container1
    {
        width: 93% !important;
    }
    .fb-feedback-container1
    {
        width: 93%;
    }
}

@media screen and (max-width: 800px) {
    
    .fb-container{
        flex-direction: column-reverse;
    }
    .fb-aboutus-container1
    {
        width: 96%;
        margin-right: 1em;
        .fb-break-line1
        {
            display: none;
        }
    }
    .fb-feedback-container1
    {
        width: 96%;
    }
    .fb-aboutus-container1
    {
        .fb-article{
            h6{
                font-size: 15px;
            }
            p{
                font-size: 10px;
            }
        }
        .fb-contact{
            h6{
                font-size: 15px;
            }
            p{
                font-size: 10px;
            }
            .fb-contact-icon {
                img{
                    width: 15px;
                    height: 15px;
                }
            }
        }
        
    }
}