.video-players-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  font-family: Lato;
  margin-top: 50px;
}

.view-pdf-container {
  /* padding: 20px; */
  font-family: Lato;
  display: flex;
  flex-direction: column;
  align-items: center;
  .input-container {
    /* margin-top: 40px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    .search-input {
      width: 70%;
      padding: 20px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 20px;
      font-size: 16px;
      background-image: url("../img/search.svg");
      background-repeat: no-repeat;
      background-position: 97% 50%;
      background-size: 25px;
      height: 0.2em;
    }
    .search-input::placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
    }
  }
  .pdf-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .pdf-item {
      width: 15vw;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 15px;
      .pdf-title {
        font-size: 20px;
        margin-top: 10px;
      }
      img {
        width: 100%;
        height: 25vh;
      }
      .pdf-description {
        margin-top: 10px;
      }
      .pdf-date {
        margin-top: 10px;
        font-style: italic;
      }
    }
  }
}

.pdf-link{
  text-decoration: none;
  color: #DA291C;
  background-color: rgb(255, 240, 240);
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.pdf-link:hover{
  color: rgb(255, 240, 240);
  background-color: #DA291C;
}
.nest-pdf-link{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width:210px) and (max-width:1024px) {
  .video-players-container {
    margin-top: 35px;
  }
}

@media screen and (min-width: 1280px) and (max-width:1439px) {
  .view-pdf-container {
    .pdf-list {
      .pdf-item {
        img {
          height: 27vh;
        }
      }
    }
  }
}
@media screen and (min-width:1024px) and (max-width:1279px) {
  .view-pdf-container {
    .pdf-list {
      .pdf-item {
        img {
          height: 21vh;
        }
      }
    }
  }
}
@media screen and (min-width:568px) and (max-width:1023px) {
  .view-pdf-container {
    .pdf-list {
      flex-wrap: wrap;
      width: 80vw;
      .pdf-item {
        width: 30vw;
        img {
          width: 30vw;
          height: 15vh;
        }
      }
    }
  }
}
@media screen and (min-width:210px) and (max-width:567px) {
  .view-pdf-container {
    .pdf-list {
      flex-wrap: wrap;
      width: 80vw;
      gap: 5px;
      .pdf-item {
        width: 70vw;
        img {
          width: 70vw;
          height: 20vh;
        }
      }
    }
  }
}