/* Home.module.css */
.myButton {
  background-color: slategrey;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.9s ease, transform 0.9s ease;
}

.myButton:hover {
    background-color: skyblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .myButton:active{
    transform:scale(0.8);
  }